h1{
  color:rgb(21, 94, 230);font-size: 65px; margin: 200px 260px 0px 170px; 
}
p{
  font-size: 30px;margin: 5px 270px 0px 170px; font-family:Georgia, 'Times New Roman', Times, serif;
}
.div{ 
   margin :00px 80px 500px 900px;
  }
  